/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat/Montserrat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
       url('fonts/montserrat/Montserrat-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/icons/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
    font-family: 'Montserrat', sans-serif;
}

span.date {
    color: grey;
    user-select: none;
    cursor: default;
    align-self: center;
}

h4 {
    font-size: 30px !important;
    margin-top: 22px !important;
    font-family: Consolas, monospace;
}

.calendar-week,
.calendar-day {
    height: 100px;
    padding: 3px;
    box-shadow: 0 0 0 1px #dddddd;
    display: grid;
    grid-template-columns: 1fr 25px;
    grid-template-rows: 20px 1fr;
}

.calendar-week.two-rows,
.calendar-day.two-rows {
    grid-template-rows: 20px 1fr;
}

.event-text {
    color: grey;
    align-self: center;
    text-align: right;
}

.tasks {
    /* height: 1fr; */
    border-top: 1px solid #dddddd;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-gap: 3px;
    overflow-y: auto;
    padding-top: 4px;
}

.tasks.border {
    border-top: 1px solid #dddddd;
}

.calendar-day > .tasks {
    /* grid-template-rows: repeat(3, 1fr); */
}

.calendar-week > .tasks {
    /* grid-template-rows: repeat(4, 1fr); */
}

.task {
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-radius: 3px;
    text-align: center;
    transition: border-color 0.2s, background-color 0.2s;
}
.task:hover {
    border-color: #bbbbbb;
    background-color: #f0f0f0;
}

.task, .event-text {
    white-space: nowrap;
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 0;
}

.task-name, .events {
    display: none;
    visibility: none;
}

.tooltip {
    z-index: 10;
    position: fixed;
    top: 50px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    border: 1px solid #dddddd;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.task-list {
    overflow: scroll;
}

.week-number {
    height: 100px;
    padding: 3px;
    box-shadow: 0 0 0 1px #dddddd;
    text-align: center;
    padding-top: 3px;
}

.week-rotate {
    padding-right: 5px;
}

.week-word {
    display: none;
}

.week-name {
    float: left;
    color: grey;
}

.selectors {
    float: right;
    font-size: 20px;
}

.weekly-selector,
.monthly-selector {
    cursor: pointer;
    transition: color 0.2s;
    color: #999999;
}

.weekly-selector:hover,
.monthly-selector:hover {
    color: #666666;
}

.weekly-selector.active,
.monthly-selector.active {
    color: #555555;
}

.selector-sep {
    color: #999999;
}

.reason {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    margin: auto;
    text-align: center;
    font-family: Consolas, monospace;
}

.hidden {
    display: none;
}

.weekly-container {
    display: none;
    grid-gap: 1px;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 15px;
}

.monthly-container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 20px repeat(7, 1fr);
    margin-bottom: 15px;
}

.code {
    background-color: #eeeeee;
    padding: 2px;
    font-family: Consolas, monospace;
}

.footer {
    font-family: Consolas, monospace;
    float: right;
    color: #999999;
    margin-bottom: 15px;
}

.menu {
    z-index: 4;
    top: 18px;
    position: fixed;
    left: 10px;
    font-family: Consolas, monospace;
}

form > input {
    font-family: Consolas, monospace;
    padding: 10px !important;
    width: inherit !important;
    height: inherit !important;
    border: 1px solid #dddddd !important;
    transition: all 0.2s !important;
}

form > input:hover {
    border-color: #bbbbbb !important;
}

form > input:focus {
    border-color: #999999 !important;
    box-shadow: none !important
}

datalist {
    font-family: Consolas, monospace;
}

.logged-in {
    padding-left: 8px;
}

.nav > a > .button {
    margin-left: 8px;
    color: #999999;
    padding-left: 0;
    transition: color 0.2s, padding-left 0.2s;
    cursor: pointer;
}

.nav > a > .button:before {
    content: "- ";
}

.nav > a > .active {
    color: #444444;
    padding-left: 10px;
}

.nav > a > .button:hover {
    color: black;
    padding-left: 10px;
}

div.title {
    font-size: 30px;
}

div.current-subject > i {
    vertical-align: middle;
    cursor: pointer;
    color: #555555;
}

div.current-subject > span {
    vertical-align: middle;
}

div.current-subject {
    padding: 10px;
    background-color: #dddddd;
    display: inline-block;
    margin: 5px;
}

div.login-container {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    justify-items: stretch;
    align-items: start;
    text-align: center;
}

div.login-divider {
    height: 100%;
    width: 1px;
    background-color: #dddddd;
}

@media only screen and (max-width: 1000px) {
    .monthly-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .weekly-container {
        grid-template-columns: repeat(5, 1fr);
    }
    .week-number {
        display: none;
    }
    .menu {
        top: 0px;
        left: 0px;
        padding: 10px;
        position: sticky;
        border-bottom: 1px solid #eeeeee;
        background-color: white;
    }
    .nav > a > .button {
        display: inline-block;
        margin-left: 8px;
    }
    .nav > a > .button:hover {
        padding-left: 0;
    }
    .nav > a > .button:before {
        content: "";
    }
    .section-header {
        bottom: 60px;
        position: relative;
    }
    .section-header#login {
        bottom: 70px;
    }
    .section-header#register {
        bottom: 70px;
    }
    .tooltip {
        bottom: 50px;
        top: auto;
    }
}

@media only screen and (max-width: 700px) {
    .weekly-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .weekly-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 400px) {
    body {
        text-align: center;
    }
    .monthly-container {
        grid-template-columns: 1fr;
        text-align: left;
    }
    .weekly-container {
        grid-template-columns: 1fr;
        text-align: left;
    }
    .calendar-week,
    .calendar-day {

        grid-template-rows: 20px;
        height: auto;
    }
    .tasks {
        border-top: none;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .tasks:empty {
        display: none;
    }
    .selectors {
        display: block;
        font-size: 15px;
        margin: 0 40px 0 40px;
        float: none;
    }
    .logged-in {
        display: none;
    }
    .week-number {
        display: block;
        height: auto;
    }
    .week-word {
        display: inline;
    }
}


@media only screen and (max-width: 450px) {
    div.login-container {
        grid-template-columns: 1fr;       
        grid-template-rows: 1fr 1fr;       
    }
    div.login-divider {
        display: none;
    }
}

@media only screen and (max-width: 290px) {
    .nav {
        display: flex;
        justify-content: space-around;
        transition: display 0.2s;
    }
}

