{% load static %}

<!DOCTYPE html>
<html lang="en" id="schedule">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'planner/style.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'planner/css/materialize.min.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>uniplan</title>
</head>
<body>
    {% csrf_token %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript">
        $(document).on('click', 'a[href^="#"]', function(event) {
            event.preventDefault();

            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
        });

        $.ajaxSetup({ 
             beforeSend: function(xhr, settings) {
                 function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                 }
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                 }
             } 
        });
    </script>
    
    <div class="menu">
        <div class="title">uniplan</div>
        <a href="#schedule"><div class="button">schedule</div></a>
        {% if not user.is_authenticated %}
            <a href="#login"><div class="button">login</div></a>
            <a href="#about"><div class="button">about</div></a>
        {% else %}
            <a href="#subjects"><div class="button">subjects</div></a>
            <a href="#about"><div class="button">about</div></a>
            <a href="/logout"><div class="button">logout</div></a>
        {% endif %}
    </div>
    <div class="container">

    <h4>schedule</h4>
    <div class="grid-container">
    {% for week in weeks %}
        <div class="week-number">
            <span class="week-word">Week </span>{{ forloop.counter }}
        </div>
        {% for day in week %}
        <div class="calendar-day">
            <span class="date">{{ day }}</span><br />
            {% if day.events %}
            <div class="event-text">{{ day.events|length }} Event{{ day.events|pluralize }}
                <div class="events"> 
                {% for event in day.events %}
                    {{ event }}<br>
                {% endfor %}
                </div>
            </div><br>
            {% endif %}
            {% for task in day.tasks %}
            <div class="task">{{ task.unit.name }}
                <span class="task-name">{{ task.name }}<br><i class="material-icons">keyboard_arrow_down</i></span>
            </div><br>
            {% endfor %}
        </div>
        {% endfor %}
    {% endfor %}
    </div>
    {% if not user.is_authenticated %}
    <div class="section-header" id="login"></div>
    <div class="section">
        <h4>login</h4>
        <div class="login">
            <form action="/login" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="username"><br>
                <input type="password" name="password" placeholder="password">
                <input type="submit" hidden>
            </form>
        </div>
    </div>
    {% else %}
    <div class="section-header" id="subjects"></div>

    <script>
        function add_unit() {
            var unit_name = $('#subject-form>input[type=text]').val().toUpperCase();
            $.post('/add_unit', {unit:unit_name}).done(function() {
                $('.current-subjects').append(
                '<div class="current-subject" id="subject-' + unit_name + '">' +
                    '<span>' + unit_name + '</span>' +
                    '<i class="material-icons" onclick="return remove_unit("' + unit_name + '")">clear</i>' +
                '</div>'
                );
                unit_name = $('#subject-form>input[type=text]').val("");
                get_calendar();
            });
            return false;
        }
        function remove_unit(unit) {
            $.post('/remove_unit', {unit:unit}).done(function() {
                $("#subject-" + unit).remove();
                get_calendar();
            });
            return false;
        }
        function get_calendar() {
            $.get('/generate_calendar').done(function(response) {
                $('.grid-container').html(response);
            });
        }
        $(document).ready(function() {
            // get_calendar();
        });
    </script>

    <div class="section">
        <h4>add subjects</h4>
        <form id="subject-form" onsubmit="return add_unit();">
            <input type="text" list="subject-list" name="unit" autocomplete="off">
            <datalist id="subject-list">
                {% for unit in units %}
                    <option>{{ unit.name }}</option>
                {% endfor %}
            </datalist>
            <input type="submit" value="add">
        </form>
        <div class="current-subjects">
            {% for unit in user.profile.subjects.all %}<div class="current-subject" id="subject-{{ unit.name }}">
                <span>{{ unit.name }}</span>
                <i class="material-icons" onclick="return remove_unit('{{ unit.name }}')">clear</i>
            </div>{% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="section-header" id="about"></div>
    <div class="section">
        <h4>about</h4>
        <p>Elit eaque recusandae et magnam consequatur? Illo vero consequatur optio iure aut Placeat laboriosam excepturi ea possimus omnis. Exercitationem itaque ipsam minus quos eos nihil quidem non officiis Molestiae tenetur.</p>
        <p>Consectetur maxime sunt iusto odit recusandae? Natus distinctio quod architecto corporis distinctio Eos nostrum impedit assumenda inventore consequatur. Accusamus commodi expedita consequatur animi facere Suscipit veniam repellat ad molestiae perferendis.</p>
        <p>Elit suscipit magnam officiis laboriosam animi aliquid exercitationem Quo et nostrum eaque est consequatur? Illum officiis odit a obcaecati ullam hic? Nemo incidunt provident dolores aliquid ut. Eos cum cum?</p>
    </div>
    <div class="footer">a rainbow table project</div>
    </div>
</body>
</html>
