{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'planner/style.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'planner/css/materialize.min.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>uniplan</title>
</head>
<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

    
    <div class="menu">
        <div class="title">uniplan</div>
        <div class="button active">tasks</div>
        <div class="button">about</div>
        <div class="button">login</div>
        {% if not user.is_authenticated %}
        <div class="login">
            <form action="/login" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="username"><br>
                <input type="password" name="password" placeholder="••••••••">
                <input type="submit" hidden>
            </form>
        </div>
        {% else %}
        Logged in as {{ user.username }}
        {% endif %}
    </div>
    <div class="container">

    <h3>your tasks</h3>
    <div class="grid-container">
    {% for week in weeks %}
        {% for day in week %}
        <div class="calendar-day">
            <span class="date">{{ day }}</span><br />
            {% if day.events %}
            <div class="event-text">{{ day.events|length }} Event{{ day.events|pluralize }}
                <div class="events"> 
                {% for event in day.events %}
                    {{ event }}<br>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            {% for task in day.tasks %}
            <div class="task">{{ task.unit.name }}
                <span class="task-name">{{ task.name }}<br><i class="material-icons">keyboard_arrow_down</i></span>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    {% endfor %}
    </div>
    <div class="footer">a rainbow table project</div>
    </div>
</body>
</html>
