{% for week in monthly_weeks %}
    <div class="week-number">
        <div class="week-rotate">
            <span class="week-word">Week </span>{{ forloop.counter }}
        </div>
    </div>
    {% for day in week %}
    <div class="calendar-day {% if day.tasks %}two-rows{% endif %}">
        <span class="date">{{ day }}</span>
        <div class="event-text">
        {% if day.events %}
            <i class="material-icons" style="font-size: 18px;">event</i>
            <div class="events"> 
            {% for event in day.events %}
                <span class="event">
                    {{ event }}
                </span><br>
            {% endfor %}
            </div>
        {% endif %}
        </div>
        {% spaceless %}
        <div class="tasks {% if day.tasks %}border{% endif %}">
        {% for task in day.tasks %}
            <div class="task">
                <span class="unit-code">{{ task.unit.name }}</span>
                <span class="unit-desc">{{ task.unit.long_name }}</span>
                <span class="task-desc">{{ task.name }}</span>
            </div>
        {% endfor %}
        </div>
        {% endspaceless %}
    </div>
    {% endfor %}
{% endfor %}
