{% for week in weeks %}
    <div class="calendar-week {% if day.tasks %}two-rows{% endif %}">
        <span class="week-name">Week {{ forloop.counter }}</span>
            <div class="event-text">
            {% if week.events %}
                <i class="material-icons" style="font-size: 18px;">event</i>
                <div class="events"> 
                {% for event in week.events %}
                    <span class="event">
                        {{ event }}
                    </span>
                {% endfor %}
                </div>
        {% endif %}
        </div>
        {% spaceless %}
        <div class="tasks {% if week.tasks %}border{% endif %}">
        {% for task in week.tasks %}
            <div class="task">
                <span class="unit-code">{{ task.unit.name }}</span>
                <span class="unit-desc">{{ task.unit.long_name }}</span>
                <span class="task-desc">{{ task.name }}</span>
            </div>
        {% endfor %}
        </div>
        {% endspaceless %}
    </div>
{% endfor %}
